{% extends 'base/_base.html' %}
{% load static %}

{% block title %}Confirmação de compra{% endblock title %}

{% block content %}
    <h3>Confirmação de Compra</h3>
    <p>Sua compra está quase concluída! Por favor, confirme para finalizar.</p>
    <h4>Itens comprados:</h4>
    <ul>
        {% for item in itens_carrinho %}
            <li>
                <div class="imagem-container">
                    {% if item.produto.imagem %}
                        <img src="{{ item.produto.imagem.url }}" alt="{{ item.produto.nome }}" class="imagem-produto">
                    {% else %}
                        <img src="{% static "images/no-image.png" %}" alt="{{ item.produto.nome }}" class="imagem-produto">
                    {% endif %}
                </div>
                <h4>{{ item.produto.nome }}</h4>
                <p>Descrição: {{ item.produto.descricao }}</p>
                <p>Quantidade: {{ item.quantidade }}</p>
                <p>Preço: R$ {{ item.produto.preco|floatformat:2 }}</p>
                <p>Total: R$ {{ item.total_item|floatformat:2 }}</p>
            </li>
        {% endfor %}
    </ul>
    <h4>Total da Compra: R$ {{ total|floatformat:2 }}</h4>
    <form method="post" action="{% url 'confirmar_compra' %}">
        {% csrf_token %}
        <button type="submit">Confirmar Compra</button>
    </form>
    <a href="{% url 'home' %}">Voltar para a Página Inicial</a>
{% endblock %}
